{{#> "systems/animabf/templates/items/base/base-sheet.hbs"}}
  <div class="item-sheet-body">
    <div class="item-field"><label>Nombre</label><input type="text" name="name" value="{{item.name}}" /></div>
    <div class="item-field"><label>Categoría</label><input type="text" name="system.category.value" value="{{system.category.value}}" /></div>
    <div class="item-field"><label>Coste (PC)</label><input type="number" name="system.cost.value" value="{{system.cost.value}}" /></div>
    <div class="item-field"><label>Descripción</label><textarea name="system.description.value" rows="4">{{system.description.value}}</textarea></div>
  </div>
{{/"systems/animabf/templates/items/base/base-sheet.hbs"}}
